#root {
  max-width: 1600px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  background: linear-gradient(-90deg, #35577D, #141E30);
}

li {
  list-style: none;
}

h1, h2 {
  color: #d1cfcf;
}


.articles {
  display: flex;
  flex-direction: column;
}

.article_card {
  display: grid;
  padding: 0.5em;
  border-bottom: #84ff00 2px solid;
  margin: 1em;
  height: 200px;
}

.article_card_title {
  color: #a8c28e;
}

.article_card_info {
  color: #ddcfcf;
}

#article_card_author {
  font-size: 1.2em;
  color: #ddcfcf;
}

#article_card_body {
  color: #ebe5e5;
}

#comment_section {
  text-align: left;
  color: #e6e0e0;
}

#comment_card_author {
  font-size: 1.2em;
  color: #729b3f;
}

#input_form {
  width: 100%;
  min-width: 20em;
  min-height: 5em
}

#logged_user_comment {
  color: #82f46d;
}

.article_img {
  height: 15em
}

.article_comments {
  padding: 0.5em;
  border-bottom: #be1212 2px solid;
}

.voting_card {
  border: #172d40 3px solid;
  justify-self: right;
}

#vote_count {
  font-size: 1em;
  margin: 0;
  color: aquamarine;
}

#upvote, #downvote{
  font-size: 2.1em;
  padding: 0;
  line-height: 1em;
  width: 100%;
}

#upvote {
  background: linear-gradient(#25fa00, #8d4e61);
}

#downvote {
  background: linear-gradient(#8d4e61, #ff0000);
}

